{% load static %}

<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <link href="{% static "css/base.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "/css/question.css" %}" rel="stylesheet">
    <link href="{% static "css/setting.css" %}" rel="stylesheet">
    <link href="{% static "css/index.css" %}" rel="stylesheet">
    <link href="{% static "css/ask.css" %}" rel="stylesheet">
    <link href="{% static "css/login.css" %}" rel="stylesheet">
    <title>Ask Everyone</title>
</head>
<body>
<div class="head">
    <div class="name">
        <a class="nameA" title="Ask Everyone" href="{% url 'home' %}">Ask Everyone</a>
    </div>
    <div class="searchForm">
        <form action="{% url 'home' %}" class="searchForm">
            <input class="searchInput" type="text" placeholder="Найди свой вопрос!">
            <button class="searchButton" >Найти</button>
        </form>
    </div>
    <div class="buttonAsk">
         <form action="{% url 'ask' %}" class="buttonAsk">
            <button class="ask"> Задай вопрос!</button>
         </form>
    </div>
    {% if request.user.is_authenticated %}
        <div class="profileIn">
            <div class="decor">
                <div class="myName"><b>{{ request.user.username }}</b></div>
                <div class="decorA">
                    <a href="{% url 'setting' %}" class="profileSetting">Настройки</a>
                     <form action="{% url 'logout' %}" method="post">
                         {% csrf_token %}
                        <input type="submit" class="profileLog" value="Выход">
                     </form>
                </div>
            </div>
            <img class="imgMe" src="{{ profile.avatar.url }}">
        </div>
    {% else %}
        <div class="profileOut">
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <input type="submit" class="profileLogin" value="Войти">
            </form>
        </div>
    {% endif %}
</div>

<main class="container">
    <div class="row">
        {% block content %}
        {% endblock content %}

        <div class="col-3">
            <h2>  Популярные Тэги</h2>
            {% for tag in best.tags %}
                <div class="tag">
                <a href="{% url 'tag' name=tag %}">{{ tag }}</a>
            </div>
            {% endfor %}
            <h2> Лучшие аккаунты</h2>
            {% for user in best.users %}
                <div class="tag">
                <a href="{% url '404' %}">{{ user }}</a>
            </div>
            {% endfor %}
        </div>

    </div>
</main>


<div class="aboutMe">
    <div class="textMe">Тарновский Даниил WEB-11</div>
</div>

</body>
</html>
