
<nav aria-label="...">
  <ul class="pagination">
    {% if content.has_previous %}
        <li class="page-item">
           <a class="page-link" href="?page={{ content.previous_page_number }}">Предыдущая</a>
        </li>
        {% endif %}
  {% if  content.number == 1 %}
      {% if content.paginator.num_pages == 1 %}
          <li class="page-item active" aria-current="page">
            <a class="page-link" href="?page={{ content.current_number }}">{{ content.number }}</a>
          </li>
      {% else %}
      <li class="page-item active" aria-current="page">
        <a class="page-link" href="?page={{ content.current_number }}">{{ content.number }}</a>
      </li>
    <li class="page-item">
        <a class="page-link" href="?page={{ content.next_page_number }}">{{ content.next_page_number }}</a>
    </li>
      {% endif %}
  {% endif %}
  {% if  content.number != 1 and content.number != content.paginator.num_pages  %}
    <li class="page-item">
        <a class="page-link" href="?page={{ content.previous_page_number }}">{{ content.previous_page_number }}</a>
    </li>
    <li class="page-item active" aria-current="page">
      <a class="page-link" href="?page={{ content.current_number }}">{{ content.number }}</a>
    </li>
    <li class="page-item">
        <a class="page-link" href="?page={{ content.next_page_number }}">{{ content.next_page_number }}</a>
    </li>
  {% endif %}
  {% if  content.number == content.paginator.num_pages %}
      {% if  content.paginator.num_pages == 1%}
      {% else %}
    <li class="page-item">
      <a class="page-link" href="?page={{ content.previous_page_number }}">{{ content.previous_page_number }}</a>
    </li>
    <li class="page-item active" aria-current="page">
      <a class="page-link" href="?page={{ content.current_number }}">{{ content.number }}</a>
    </li>
      {% endif %}
  {% endif %}
  {% if content.has_next %}
      <li class="page-item enable">
        <a class="page-link" href="?page={{ content.next_page_number }}">Next</a>
      </li>
  {% endif %}
  {% if content.number != content.paginator.num_pages %}
      <li class="page-item enable">
        <a class="page-link" href="?page={{ content.paginator.num_pages }}">Last - {{ content.paginator.num_pages }}</a>
      </li>
  {% endif %}
  </ul>
</nav>
