.theme {
    margin-bottom: 20px;
}
.poptags {
    margin-left: 60px;
}
.buttonAnsw {
    margin-top: 40px;
    height: 48px;
    width: 200px;
    color: white;
    border: 1px solid green;
    border-radius:5px;
    cursor: pointer;
    margin-bottom: 71px;
    background-color: green;
}
.buttonAnsw:hover {
    background-color: darkgreen;
    border-color: darkgreen;
    color: white;

}
.inputAsk {
    width: 600px;
}