{% extends "base/base.html" %}
{% load static %}

{% block content %}
        <div class="col-8">
            <h2 style="margin-bottom: 20px">Популярные вопросы</h2>
            {% for question in content %}
                {% include "base/single_question.html" %}
            {% endfor %}
        {% block pagination %}
            {% include "base/paginator.html" %}
        {% endblock pagination %}
        </div>
    <script src="../static/js/jquery-3.6.0.min.js"></script>
        <script src="../static/js/vote.js"></script>
        <script src="../static/js/csrf.js"></script>
{% endblock content%}