{% extends "base/base.html" %}
{% load static %}

{% block content %}
        <div class="col-8">
            <h2 class="theme">Войти</h2>
            <div class="error">
                Не верный логин или пароль!
            </div>
            <form action="{% url 'login' %}">
                <div class="mb-3">
                    <label for="login" class="form-label">Почта</label>
                    <input type="email" class="email form-control" required id="login" placeholder="example@mail.ru">
                </div>
                <div class="mb-3">
                    <label for="pass" class="form-label">Пароль</label>
                    <input type="password" class="email form-control" id="pass" required placeholder="Введите пароль">
                </div>
                <button class="buttonMy">
                    Войти!
                </button>
            </form>
            <div class="login">
                <a href="{% url 'registration' %}">
                    Создать аккаунт
                </a>
            </div>
        </div>
{% endblock content %}