{% extends "base/base.html" %}
{% load static %}

{% block content %}
        <div class="col-8">
            <div class="row Question">
                <div class="col-2">
                    <img class="photoQ" src="{{ question.author.avatar.url }}">
                    <div class="row ld">
                        <div  class="ld">
                            <div class="col">
                                <button data-id="{{ question.id }}" data-class="question" data-action="like" id="{{ question.id }}-question-like" class="vote like">{{ question.like }}</button>
                            </div>
                            <div class="col">
                                <button data-id="{{ question.id }}" data-class="question" data-action="dislike" id="{{ question.id }}-question-dislike" class="vote dislike">{{ question.dislike }}</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-8 textQ">
                    <div href="{% url 'home' %}">
                        <h3>{{ question.title }}</h3>
                    </div>
                    {{ question.text }}
                    <div class="row underQst">
                        <div class="col">
                            Тэги:
                            {% for tag in question.tags.all %}
                                <a href="{% url 'tag' name=tag %}" class="tag">
                                    {{ tag }}
                                </a>
                            <span> </span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% for answer in content %}
                {% include "base/single_answer.html" %}
            {% endfor %}
            {% block pagination %}
                {% include "base/paginator.html" %}
            {% endblock pagination %}
            {% if request.user.is_authenticated %}
                <div class="answerDiv">
                    <h2>Введите свой ответ!</h2>
                    <form action="{% url 'question' number=question.id %}" method="post">
                        {% csrf_token %}
                        <textarea name="text" class="answer" placeholder="Введите свой ответ">
                        </textarea>
                        <button type="submit" class="buttonAnsw">
                            Отправить!
                        </button>
                    </form>
                </div>
            {% endif %}
        </div>

        <script src="../../static/js/jquery-3.6.0.min.js"></script>
        <script src="../../static/js/vote.js"></script>
        <script src="../../static/js/csrf.js"></script>
    <script src="../../static/js/checked.js"></script>
{% endblock content%}


