{% extends "base/base.html" %}
{% load static %}

{% block content %}
        <div class="col-8">
            <div class="row Question">
                <div class="col-2">
                    <img class="photoQ" src="../../{{ question.author.avatar }}">
                    <div class="row ld">
                        <form action="index.html" class="ld">
                            <div class="col">
                                <button class="like">{{ question.like }}</button>
                            </div>
                            <div class="col">
                                <button class="dislike">{{ question.dislike }}</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-8 textQ">
                    <div href="{% url 'home' %}">
                        <h3>{{ question.title }}</h3>
                    </div>
                    {{ question.text }}
                    <div class="row underQst">
                        <div class="col">
                            Тэги:
                            {% for tag in question.tags.all %}
                                <a href="{% url 'tag' name=tag %}" class="tag">
                                    {{ tag }}
                                </a>
                            <span> </span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% for answer in content %}
                {% include "base/single_answer.html" %}
            {% endfor %}
            {% block pagination %}
                {% include "base/paginator.html" %}
            {% endblock pagination %}
            <div class="answerDiv">
                <h2>Введите свой ответ!</h2>
                <form action="">
                    <textarea class="answer" placeholder="Введите свой ответ">
                    </textarea>
                    <button class="buttonAnsw">
                        Отправить!
                    </button>
                </form>
            </div>
        </div>
{% endblock content%}


