{% extends "base/base.html" %}
{% load static %}


{% block content %}
        <div class="col-8 marg">
            <h2 class="theme">Регистрация</h2>
            <form action="{% url 'registration' %}">
                <div class="mb-3">
                    <label for="login" class="form-label">Логин</label>
                    <input type="text" class="email form-control" required id="login" placeholder="Придумайте свой логин">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Почта</label>
                    <input type="email" class="email form-control" required id="email" placeholder="example@mail.ru">
                </div>
                <div class="mb-3">
                    <label for="name" class="form-label">Имя</label>
                    <input type="text" class="email form-control" required id="name" placeholder="Придумайте имя">
                </div>
                <div class="mb-3">
                    <label for="pass" class="form-label">Пароль</label>
                    <input type="text" class="email form-control" required id="pass" placeholder="Придумайте пароль">
                </div>
                <div class="mb-3">
                    <label for="2xpass" class="form-label">Повторите пароль</label>
                    <input type="text" class="email form-control" required id="2xpass" placeholder="Повторите пароль">
                </div>
                <div class="mb-3">
                    Добавить аватар
                </div>
                <img class="photoQ" src="{% static "img/Standart.jpg" %}">
                <div class="mb-3">
                    <input class="form-control choose" type="file" id="formFile">
                </div>
                <button class="buttonMy">
                    Зарегистрироваться!
                </button>
            </form>
        </div>
       {% endblock content %}