{% extends "base/base.html" %}
{% load static %}

{% block content %}
        <div class="col-8">
            <h2 class="theme">Настройки Данек</h2>
            <div class="error">
            {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <div>{{ error }}</div>
                        <br>
                    {% endfor %}
                 {% endif %}
            </div>
            <form action="{% url 'setting' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="first_name" class="form-label">Имя</label>
                    <input type="text" class="email form-control" name="first_name" id="first_name" value="{{ profile.user.first_name }}" placeholder="Можете поменять ваше имя">
                </div>
                <div class="mb-3">
                    <label for="last_name" class="form-label">Фамилия</label>
                    <input type="text" class="email form-control" name="last_name" id="last_name" value="{{ profile.user.last_name }}" placeholder="Можете поменять фамилию">
                </div>
                <div class="mb-3">
                    <label for="nickname" class="form-label">Имя пользователя</label>
                    <input type="text" class="email form-control" name="username" id="nickname" value="{{ profile.user.username }}" placeholder="Можете поменять имя пользователя">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Почта</label>
                    <input type="email" class="email form-control" name="email" id="email" value="{{ profile.user.email }}" placeholder="example@mail.ru">
                </div>
                <div class="mb-3">
                    Обновить аватар
                </div>
                <img class="photoQ" src="{{ profile.avatar.url }}">
                <div class="mb-3">
                    <input class="form-control choose" name="avatar"  type="file" id="formFile">
                </div>
                <button type="submit" class="buttonMy">
                    Обновить!
                </button>
            </form>
        </div>
{% endblock content %}